# Tarea 4: Clase 6

<img style="float: right; margin: 0px 0px 15px 15px;" src="https://pandas.pydata.org/_static/pandas_logo.png" width="300px" height="300px" />

Cada clase que veamos tendrá una tarea asignada, la cual contendrá problemas varios que se pueden resolver con lo visto en clase, de manera que puedas practicar lo que acabas de aprender.

En esta ocasión, la tarea tendrá ejercicios relativos a la clase 6, de la librería pandas.

Para resolver la tarea, por favor cambiar el nombre del archivo a "Tarea4_ApellidoNombre.ipynb", sin acentos ni letras ñ (ejemplo: en mi caso, el archivo se llamaría "Tarea4_JimenezEsteban.ipynb"). Luego de haber cambiado el nombre, resolver cada uno de los puntos en los espacios provistos.

Referencias:
- https://towardsdatascience.com/data-science-with-python-intro-to-loading-and-subsetting-data-with-pandas-9f26895ddd7f
- https://github.com/Ventsislav-Yordanov/Data-Science-Exercises
___

# Descripción de los datos

En los siguientes ejercicios usarás los datos del archivo "tips.csv", que contiene información de propinas.

Variables en las columnas:

* **total_bill**: **monto de la cuenta (dólares)**
* **tip**: **monto de la propina (dólares)**
* **sex**: **\[Female, Male\], género de quien paga la cuenta**
* **smoker**: **\[No, Yes\], si el grupo incluye o no fumadores**
* **day**: **\['Sun', 'Sat', 'Thur', 'Fri'\], día de la semana**
* **time**: **\[Dinner, Launch\], momento aproximado del día**
* **size**: **número de personas en el grupo**

In [1]:
# Importar pandas
import pandas as pd

Importar los datos guardados en el archivo "tips.csv" como un DataFrame de pandas, cuyo nombre sea `tips_data`.

Luego utilizar el método `head()` de DataFrames para ver las primeras 5 filas de los datos.

In [59]:
# Importar los datos
tips_data = pd.read_csv('tips.csv')
# Utilizar el método head() para ver las primeras 5 filas de los datos
tips_data.head(5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

¿Cuántas filas y columnas tiene tu DataFrame? (atributo `shape`)

In [3]:
tips_data.shape

(244, 7)

# Análisis exploratorio de datos

Esta parte ya está resuelta, solo corre las celdas para ver los resultados.

In [5]:
def print_min_max(column):
    print("The min value for the column \"" + column + "\" is:",  tips_data[column].min())
    print("The max value for the column \"" + column + "\" is:",  tips_data[column].max())

In [6]:
print_min_max("tip")
print()
print_min_max("total_bill")
print()
print_min_max("size")

The min value for the column "tip" is: 1.0
The max value for the column "tip" is: 10.0

The min value for the column "total_bill" is: 3.07
The max value for the column "total_bill" is: 50.81

The min value for the column "size" is: 1
The max value for the column "size" is: 6

# Filtrado de datos

Ya vieron para que sirve el método `head()`: para imprimir solo las primeras 5 filas de su resultado. Es decir, sirve para no desplegar DataFrames muy largos. Asegúrese de utilizar este método si no quiere que se impriman DataFrames largos.

## 1

Obtener todos los registros en los cuales **la propina es igual a 10**.

In [22]:
# Solución aquí
tips_data [tips_data ["tip"] == 10]

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

## 2

Obtener todos los registros donde **el número de personas (size) es igual a 5 o 6**.

In [42]:
# Solución aquí
number = [5,6]
tips_data[tips_data['size'].isin(number)].head(5)

     total_bill   tip     sex smoker   day    time  size
125       29.80  4.20  Female     No  Thur   Lunch     6
141       34.30  6.70    Male     No  Thur   Lunch     6
142       41.19  5.00    Male     No  Thur   Lunch     5
143       27.05  5.00  Female     No  Thur   Lunch     6
155       29.85  5.14  Female     No   Sun  Dinner     5

## 3

Obtener todos los registros donde **el grupo contenga fumadores**.

In [43]:
# Solución aquí
sm = ['Yes']
tips_data[tips_data['smoker'].isin(sm)].head(5)

    total_bill   tip   sex smoker  day    time  size
56       38.01  3.00  Male    Yes  Sat  Dinner     4
58       11.24  1.76  Male    Yes  Sat  Dinner     2
60       20.29  3.21  Male    Yes  Sat  Dinner     2
61       13.81  2.00  Male    Yes  Sat  Dinner     2
62       11.02  1.98  Male    Yes  Sat  Dinner     2

## 4

Obtener todos los registros donde **el grupo no contenga fumadores**.

In [44]:
# Solución aquí
sm = ['No']
tips_data[tips_data['smoker'].isin(sm)].head(5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## 5

Obtener todos los registros donde **la propina sea igual a 5, 7 o 10**

In [45]:
# Solución aquí
number = [5,7,10]
tips_data[tips_data['tip'].isin(number)].head(5)

    total_bill  tip     sex smoker   day    time  size
11       35.26  5.0  Female     No   Sun  Dinner     4
39       31.27  5.0    Male     No   Sat  Dinner     3
46       22.23  5.0    Male     No   Sun  Dinner     2
73       25.28  5.0  Female    Yes   Sat  Dinner     2
83       32.68  5.0    Male    Yes  Thur   Lunch     2

## 6

Obtenga todos los registros donde **el día sea Sábado o Domingo**.

In [74]:
# Solución aquí
filters = ['Sun','Sat']
tips_data[tips_data['day'].isin(filters)].head(5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## 7

Obtenga todos los registros donde **el número de personas sea mayor a 4** y **quien pague la cuenta sea una mujer**.

In [73]:
# Solución aquí
tips_data[(tips_data ["size"] > 4) & (tips_data ["sex"] == 'Female')].head(5)

     total_bill   tip     sex smoker   day    time  size
125       29.80  4.20  Female     No  Thur   Lunch     6
143       27.05  5.00  Female     No  Thur   Lunch     6
155       29.85  5.14  Female     No   Sun  Dinner     5

## 8

Obtenga todos los registros donde **la cuenta total sea mayor a 40** y **la propina sea mayor que 5**

In [72]:
# Solución aquí
tips_data[(tips_data ["total_bill"] > 40) & (tips_data ["tip"] > 5)].head(5)

     total_bill    tip   sex smoker  day    time  size
59        48.27   6.73  Male     No  Sat  Dinner     4
170       50.81  10.00  Male    Yes  Sat  Dinner     3
212       48.33   9.00  Male     No  Sat  Dinner     4

## 9

Obtener todos los registros donde el **número de personas sea mayor que 4** o **el momento de asistencia sea una cena**

In [71]:
# Solución aquí
tips_data[(tips_data ["time"] == 'Dinner') & (tips_data ["size"] > 4)].head(5)

     total_bill   tip     sex smoker  day    time  size
155       29.85  5.14  Female     No  Sun  Dinner     5
156       48.17  5.00    Male     No  Sun  Dinner     6
185       20.69  5.00    Male     No  Sun  Dinner     5
187       30.46  2.00    Male    Yes  Sun  Dinner     5
216       28.15  3.00    Male    Yes  Sat  Dinner     5

## 10

Obtener todos los registros donde **no hayan fumadores**, la **cuenta total sea mayor a 30**, y **el día sea jueves o viernes**.

In [70]:
# Solución aquí
filters = ['Thur','Fri']
tips_data[(tips_data['day'].isin(filters)) & (tips_data ["smoker"] == 'No') & (tips_data ["total_bill"] > 30)].head(5)

     total_bill   tip     sex smoker   day   time  size
85        34.83  5.17  Female     No  Thur  Lunch     4
141       34.30  6.70    Male     No  Thur  Lunch     6
142       41.19  5.00    Male     No  Thur  Lunch     5

## 11

Obtener todos los registros donde **el día sea viernes o sábado**, el **momento de asistencia sea para la comida**, y el **número de personas sea menor a 4**.

In [69]:
# Solución aquí
filters = ['Sat','Fri']
tips_data[(tips_data['day'].isin(filters)) & (tips_data ["time"] == 'Lunch') & (tips_data ["size"] < 4)].head(5)

     total_bill   tip     sex smoker  day   time  size
220       12.16  2.20    Male    Yes  Fri  Lunch     2
221       13.42  3.48  Female    Yes  Fri  Lunch     2
222        8.58  1.92    Male    Yes  Fri  Lunch     1
223       15.98  3.00  Female     No  Fri  Lunch     3
224       13.42  1.58    Male    Yes  Fri  Lunch     2

## 12

Obtener todos los registros donde

el **día sea viernes**, el **número de personas sea menor a 3**, y **quien pague la cuenta sea una mujer**

o

el **día sea domingo**, el **número de personas sea mayor a 4**, y **quien pague la cuenta sea un hombre**.

In [68]:
# Solución aquí
tips_data[((tips_data['day'] == 'Fri') & (tips_data ["sex"] == 'Female') & (tips_data ["size"] < 3))
          | ((tips_data['day'] == 'Sun') & (tips_data ["sex"] == 'Male') & (tips_data ["size"] < 4))].head(5)

   total_bill   tip   sex smoker  day    time  size
1       10.34  1.66  Male     No  Sun  Dinner     3
2       21.01  3.50  Male     No  Sun  Dinner     3
3       23.68  3.31  Male     No  Sun  Dinner     2
6        8.77  2.00  Male     No  Sun  Dinner     2
8       15.04  1.96  Male     No  Sun  Dinner     2

<script>
  $(document).ready(function(){
    $('div.prompt').hide();
    $('div.back-to-top').hide();
    $('nav#menubar').hide();
    $('.breadcrumb').hide();
    $('.hidden-print').hide();
  });
</script>

<footer id="attribution" style="float:right; color:#808080; background:#fff;">
Created with Jupyter by Esteban Jiménez Rodríguez.
</footer>